<div class="container my-5">
    <div class="row rounded-pill bg-primary m-1 py-2" id="aboutMeContainer">
        <div class="col-lg-3 align-items-center d-flex justify-content-center">
            <img 
            src="{{photoMe}}" 
            alt="Foto"
            class="d-inline-block align-top rounded-circle border border-5 mt-3 mb-3"
            width="200">
        </div>
        <div class="col-lg-8 bg-light rounded-pill mt-3 mb-3 p-3 d-flex align-items-center border border-4 border-primary">   
            <h1 class="text-light bg-primary p-3 rounded-pill">{{greetingSpa}}</h1>
            <p id="aboutMe" class="m-4">{{aboutMeSpa}}</p>
        </div>
    </div>
</div>