<div class="border border-1 border-secondary rounded-3 bg-light my-5 py-5 text-center" id="experienceCRUD">
    <h2 class="text-center">Experiencia</h2>
    <div class="float-right btn-group btn-group-sm mt-1 text-center d-inline-block">
        <a *ngIf="loginService.isUserLoggedIn()" (click)="onOpenModal(null!, 'experienceadd')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Add"><i class="fa fa-plus"></i> </a>
    </div>
    <div *ngFor="let experiencia of experiencias" class="row container-fluid d-flex justify-content-center">

        <div class="col-lg-2 d-flex align-items-center justify-content-center">
            <img src="{{experiencia.imageURL}}" alt="Foto de {{experiencia.name}}"
                class="d-inline-block align-top border border-5 rounded-circle mt-3 mb-3" width="200">
        </div>
        <div
            class="col-lg-9 bg-white border border-1 border-top-0 rounded-pill mt-3 mb-3 p-3 d-flex align-items-center justify-content-center">
            <div class="row container">
                <div class="col">
                    <h3 class="bg-light p-3 border border-top-0 rounded-pill text-center">{{experiencia.name}}</h3>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <p class="m-4 text-center">{{experiencia.description}}</p>
                </div>
                <div class="float-right btn-group btn-group-sm mb-3 d-inline-block text-center">
                    <a *ngIf="loginService.isUserLoggedIn()" (click)="onOpenModal(experiencia, 'experienceedit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                    <a *ngIf="loginService.isUserLoggedIn()" (click)="onOpenModal(experiencia, 'experiencedelete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                </div>  
            </div>
        </div>

    </div>
</div>

<!-- Modal de Experience -->
<!-- Add Modal HTML -->
<div id="addExperienceModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #addExperienceForm = "ngForm" (ngSubmit)="onAddExperience(addExperienceForm)">
                <div class="modal-header">						
                    <h4 class="modal-title">Dar Alta a Experiencia</h4>
                    <button type="button" class="close text-light border-0 rounded-2 bg-danger mt-1" data-bs-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" ngModel name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Descripcion</label>
                        <input type="text" ngModel name="description" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Image URL</label>
                        <input type="text" ngModel name="imageURL" class="form-control" required>
                    </div>			
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input [disabled]="addExperienceForm.invalid" type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editExperienceModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #updateExperienceForm = "ngForm">
                <div class="modal-header">						
                    <h4 class="modal-title">Modificar Experiencia</h4>
                    <button type="button" class="close text-light border-0 rounded-2 bg-danger mt-1" data-bs-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" ngModel="{{editExperience?.name}}" name="name" class="form-control" required>
                    </div>
                    <input type="hidden" ngModel="{{editExperience?.id}}" name="id" class="form-control" id="id" placeholder="">
                    <div class="form-group">
                        <label>Descripcion de la experiencia</label>
                        <input type="text" ngModel="{{editExperience?.description}}" name="description" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Image URL</label>
                        <input type="text" ngModel="{{editExperience?.imageURL}}" name="imageURL" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input (click)="onUpdateExperience(updateExperienceForm.value)" [disabled]="updateExperienceForm.invalid" type="submit" class="btn btn-info" value="Save">
                    <!-- <button [disabled]="editExperienceForm.invalid" type="submit" class="btn btn-info" value="Save"></button> -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteExperienceModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Dar Baja a Habilidad</h4>
                    <button type="button" class="close text-light border-0 rounded-2 bg-danger mt-1" data-bs-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body text-center">					
                    <p>Esta seguro que quiere borrar el registro {{deleteExperience?.name}}?</p>
                    <p class="text-danger">Esta operación no se puede deshacer.</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input (click)="onDeleteExperience(deleteExperience.id)" type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>