<div id="logincontainer">
<button *ngIf="!loginService.isUserLoggedIn()" (click)="onOpenModal('login')" type="button" class="btn btn-info btn-round bg-light mx-2" id="openLoginModalButton">
      Login
</button>
<button *ngIf="loginService.isUserLoggedIn()" (click)="onOpenModal('logout')" type="button" class="btn btn-info btn-round bg-danger text-light mx-2">
    Logout
</button>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #loginForm = "ngForm" (ngSubmit)="checkLogin(loginForm.value)">
                <div class="modal-header">						
                    <h4 class="modal-title">Login</h4>
                    <button #closeLoginModalButton type="button" class="close text-light border-0 rounded-2 bg-danger mt-1" data-bs-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Username</label>
                        <input type="username" ngModel name="username" #username = ngModel class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" ngModel name="password" #password = ngModel class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input [disabled]="loginForm.invalid" type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Logout</h4>
                    <button #closeLogoutModalButton type="button" class="close text-light border-0 rounded-2 bg-danger mt-1" data-bs-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                </div>
                <div class="modal-body text-center">					
                    <p>Esta seguro que quiere cerrar su sesion?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                    <input (click)="logout()" (click)="loginService.logOut()" type="submit"  class="btn btn-danger" value="Logout">
                </div>
            </form>
        </div>
    </div>
</div>